<header>
    <ul class="nav justify-content-center">
        <li class="nav-item"><h3><a class="nav-link" href="/">Main menu</a></h3></li>
        <li class="nav-item"><h3><a class="nav-link" href="/admin/menus">Menu controller</a></h3></li>
    </ul>
</header>