<?- include('includes/head.ejs') ?>    
    <?- include('includes/nav.ejs') ?>
    <div class="menu">
        <? if (menus.length > 0) { ?>
            <ul class="main-menu">
                <? for (let menu of menus) { ?>
                    <li class="main-menu__item">
                        <a class="menu__link" href="<?= menu.link ?>">
                            <?= menu.name ?>
                        </a>
                        <? if (menu.submenus.length > 0) { ?>
                            <ul class="sub-menu">
                                <? for (let submenu of menu.submenus) { ?>
                                    <li class="sub-menu__item">
                                        <a class="menu__link sub-menu__link" href="<?= submenu.link ?>">
                                            <?= submenu.name ?>
                                        </a>
                                        <? if (submenu.subsubmenus.length > 0) { ?>
                                            <ul class="sub-sub-menu">
                                                <? for (let subsubmenu of submenu.subsubmenus) { ?>
                                                    <li class="sub-sub-menu__item">
                                                        <a class="menu__link" href="<?= subsubmenu.link ?>"><?= subsubmenu.name ?></a>
                                                    </li>
                                                <? } ?>
                                            </ul>
                                        <? } ?>
                                        
                                        </li>
                                <? } ?>
                            </ul>
                        <? } ?>
                    </li>
                <? } ?>
            </ul>
        <? } ?>
    </div>
<?- include('includes/end.ejs') ?>  